{#
/**
 * @file
 * Theme implementation to display the Earthdata Example Process Page.
 *
 * Available variables:
 * - full_title
 * - settings
 * - url_parameters
 */
#}

{# Use the dump() function to output variables to the web page #}

{# All variables: #}
{# {{ dump() }} #}

{# One variable: #}
{# {{ dump(data) }} #}

{% if full_title %}
  <h3>String</h3>
  <p>{{ full_title }}</p>
{% endif %}

<hr>

{% if settings %}
  <h3>Array</h3>
  <ul>
    {% for key, setting in settings %}
      <li>{{ key }}: {{ setting }}</li>
    {% endfor %}
  </ul>
{% endif %}

<hr>

{% if url_parameters %}
  <h3>URL Parameters</h3>
  <ul>
    {% for key, param in url_parameters %}
      <li>{{ key }}={{ param }}</li>
    {% endfor %}
  </ul>
{% endif %}