{#
/** 
 * @file
 * Earthdata Example Test page theme implementation.
 *
 * Available variables:
 * data
 * message
 * errror
 */
#}

<p>Check out this module's <a href="/admin/help/earthdata_example">help page</a>.</p>

{# Use the dump() function to output variables to the web page #}

{# All variables: #}
{# {{ dump() }} #}

{# One variable: #}
{# {{ dump(data) }} #}

{% if data %}
  <h3>Data</h3>
  {% for data_key, data_value in data %}
    <p>{{ data_value }}</p>
  {% endfor %}
{% endif %}

{% if message %}
  <h3>Message</h3>
  <p>{{ message }}</p>
{% endif %}

{% if error %}
  <h3>Error</h3>
  <p>{{ error }}</p>
{% endif %}
 